.imgParent
{
}

.sliderImage
{
    width: 100%;
    height: auto;
    /* display: block; */
    margin: 10px 15% 10px 15%;
    animation-duration: 0.7s;
}

.imgSliderStyle
{
    border-radius: 8px 8px 8px 8px;
    display: block;
    margin: auto;
    width: 100%;
    animation-name: a;
    animation-duration: 0.8s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

.buttonSliderStylePrev
{
    height: auto;
}

.buttonSliderStyleNext
{
    
}

@keyframes a
{
    from {
        opacity: 0.4}
    to {
        opacity: 1}
}

@keyframes b
{
    from {
        opacity: 0.4}
    to {
        opacity: 1}
}
.sliderParent 
{
    width: 70%;
    margin: auto;
}

.nextClass
{
    color: white;
    text-align: center;
    font-size: xx-large;
    background-color: rgba(29, 29, 29, 0.808);
    width: 10%;
    height: 8%;
    margin: 1%;
    cursor: pointer;
    float: right;
}

.prevClass 
{
    color: white;
    font-size: xx-large;
    text-align: center;
    background-color: rgba(29, 29, 29, 0.808);
    width: 10%;
    height: 8%;
    margin: 1%;
    cursor: pointer;
    float: left;
}

